.App {
  text-align: center;
    width: 60%; /*横幅指定*/
    background-color: #313131; /*背景色の指定*/
    overflow: hidden; /*おまじない*/
    color: #fff; /*文字色の変更*/
    font-size: 120%; /*フォントサイズの調整*/
    letter-spacing: 10px; /*文字と文字の間隔をあける*/
    line-height: 300px; /*行間の指定（ブランディングの高さを決める）*/
    padding-left: 3%; /*文字の左側に余白をあける*/

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
